# Avg Ordian Rank

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load the MMasseyOrdinals dataset
massey_ordinals = pd.read_csv('MMasseyOrdinals.csv')

In [7]:
massey_ordinals.head()

   Season  RankingDayNum SystemName  TeamID  OrdinalRank
0    2003             35        SEL    1102          159
1    2003             35        SEL    1103          229
2    2003             35        SEL    1104           12
3    2003             35        SEL    1105          314
4    2003             35        SEL    1106          260

In [3]:
# Calculate metrics for each system
system_metrics = massey_ordinals.groupby(['Season', 'TeamID', 'SystemName']).agg(
    InitialRank=('OrdinalRank', 'first'),
    FinalRank=('OrdinalRank', 'last'),
    BestRank=('OrdinalRank', 'min'),
    WorstRank=('OrdinalRank', 'max'),
    MeanRank=('OrdinalRank', 'mean')
).reset_index()

In [4]:
# Calculate Rank Improvement for each system
system_metrics['RankImprovement'] = system_metrics['InitialRank'] - system_metrics['FinalRank']

In [5]:
# Aggregate metrics across systems
team_metrics = system_metrics.groupby(['Season', 'TeamID']).agg(
    AvgInitialRank=('InitialRank', 'mean'),
    AvgFinalRank=('FinalRank', 'mean'),
    AvgBestRank=('BestRank', 'mean'),
    AvgWorstRank=('WorstRank', 'mean'),
    AvgMeanRank=('MeanRank', 'mean'),
    AvgRankImprovement=('RankImprovement', 'mean')
).reset_index()

In [6]:
# Display the resulting DataFrame
team_metrics.sample(20)

,Season,TeamID,AvgInitialRank,AvgFinalRank,AvgBestRank,AvgWorstRank,AvgMeanRank,AvgRankImprovement
285,2003,1419,286.764706,248.882353,234.882353,291.235294,262.144907,37.882353
7710,2025,1190,182.403846,169.576923,138.442308,203.192308,170.451437,12.826923
4133,2015,1163,47.461538,67.738462,40.600000,83.923077,64.351681,-20.276923
2232,2009,1353,150.723404,172.021277,133.936170,185.106383,160.286493,-21.297872
5312,2018,1291,266.507692,235.753846,224.030769,292.938462,256.614565,30.753846
1186,2006,1326,18.175000,7.825000,6.075000,22.250000,11.481189,10.350000
3849,2014,1231,42.880597,70.223881,37.686567,76.910448,58.839524,-27.343284
1101,2006,1233,66.888889,63.083333,38.750000,95.000000,63.460566,3.805556
4624,2016,1306,230.265625,217.812500,200.671875,256.609375,228.757896,12.453125
4943,2017,1272,89.767123,99.315068,64.191781,108.164384,83.099718,-9.547945
2535,2010,1308,157.820000,86.820000,86.740000,183.420000,127.139310,71.000000
1,2003,1103,195.000000,168.705882,152.205882,211.352941,181.683546,26.294118
1424,2007,1220,126.512821,91.205128,79.025641,135.897436,95.746547,35.307692
7955,2025,1443,135.403846,133.038462,103.788462,151.711538,124.177084,2.365385
5702,2019,1332,51.671429,44.857143,38.057143,80.971429,60.905533,6.814286
3274,2012,1357,236.616667,242.783333,213.450000,258.033333,239.957623,-6.166667
3828,2014,1209,181.421875,82.140625,79.078125,195.234375,121.432478,99.281250
2403,2010,1168,203.660000,205.800000,166.000000,250.000000,206.688515,-2.140000
1434,2007,1232,105.650000,134.250000,70.750000,141.550000,110.185681,-28.600000
7138,2023,1347,210.484375,188.500000,153.796875,236.375000,190.730644,21.984375